@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'merriweather';
    src: url('/fonts/merriweather.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }