---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2020 - 2022",
    title: "UX Designer",
    company: "Northmetric digital",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
  },
  {
    date: "2022 - 2024",
    title: "CEO",
    company: "BASANTA TAUSIA SL",
    description:
      "Empresa enfocada en el comercio electrónico. Fundada en solitario me sirvió para iniciarme en el mundo del emprendimiento y poder aplicar los conocimientos adquiridos en mi primera experiencia profesional.",
  },
  {
    date: "Actualmente",
    title: "Operador Técnico de Sonido en Transmisiones Radiales",
    company: "Cope Cantabria",
    description:
      "Responsable de Enfocado sobre todo en retransmisiones deportivas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>