<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header />
		<slot />
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
	}

	html {
	}
	body {
		display: flex;
		justify-content: center;
		background: #050505;
		min-height: 100vh;
	}
</style>
